# Ignore JetBrains IDE settings
.idea/
*.iml
*.ipr
*.iws
# IntelliJ IDEA 설정 파일 무시
.idea/workspace.xml

# Ignore Writerside build output
.writerside/
.writerside-cache/
build/
out/

!docs/webHelpJ2-all.zip